.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
  background-color: rgb(255, 255, 255) !important;
  min-width: 270px;
  max-width: 270px;
  min-height: 100vh;
  
  box-shadow: 0px 0 3px 0 #555;
}

#wrapper2{
	height:100%;
}


#button4{
background-color: darkgreen;
margin-left: 10px;
margin-top:30px;
width: 100px;
text-decoration: none;
text-align: center;
height: 60px;
padding: 5px;
border-radius: 7px;
color: white;
}

#button4:hover{
cursor: pointer;
}

#button3{
background-color: rgb(30, 150, 30);
margin-left: 40px;
margin-top: 30px;
width: 100px;
text-decoration: none !important;
color: white;
text-align: center;
height: 60px;
padding: 5px;
border-radius: 7px;
}

#button3:hover{
cursor: pointer;
background-color: darkgreen;
}



.filterheader{
    margin-top: 70px;
    margin-left: 10%;
    margin-bottom: 25px;
}

.form-check-label{
    font-size: 12px;
}

#tablecuisine{
    margin-bottom: 30px;
}



#sidebar.active {
    margin-left: -250px;
}

.h1style{
    font-size: 13px;
    margin-left:10%;
}

 
  input[type=search]{
      border: 1px solid green;
      border-radius: 5px;
      width: 196px;
  }


  input[type=date]{
      border: 1px solid green;
      border-radius: 5px;
      width: 196px;
  }


  input[type=date]::-webkit-datetime-edit { padding: 8px;}
  input[type=date]::-webkit-datetime-edit-fields-wrapper {}
  input[type=date]::-webkit-datetime-edit-text { color: rgb(129, 129, 131); padding: 0 0.3em; }
  input[type=date]::-webkit-datetime-edit-month-field { color: rgb(129, 129, 131); }
  input[type=date]::-webkit-datetime-edit-day-field { color: rgb(129, 129, 131); }
  input[type=date]::-webkit-datetime-edit-year-field { color: rgb(129, 129, 131); }
  input[type=date]::-webkit-inner-spin-button { display: none; }
  input[type=date]::-webkit-calendar-picker-indicator { background: white; height: 15px;}