.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.h1{
    font-size: 50px;
    padding: 30px;
}

.section-body {
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
}

.section-body2 {
    text-align: left;
    font-size: 22px;
    padding-left: 30px;
    padding-bottom: 30px;
}

