@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

*{
	box-sizing:border-box;
	font-family: "Roboto", sans-serif;
}


/*new Login format stuff*/
.mr-20{
	margin-right : 20px !important;
}

#edittitle{
    text-align: center;
    margin-top: 15px;
    color: darkgreen;
}


#link{
    text-decoration: none;
    color: gray;
}

#link.hover{
    color: rgb(22, 22, 22) !important;
}

#App1.App1 {
  height: 100vh;
  display: flex;
  color: white;
}
/*Left side of thingy, picture of veggies*/
#App__Aside.App__Aside {
  width: 50%;
  background-image: url("/veggie.png");
  background-repeat: no-repeat;
}
/*Right side of thingy, sign in and sign up*/
#App__Form.App__Form {
  width: 50%;
  background-color: #f1f3f4;
  padding: 25px 40px;
  overflow: auto;
}


.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #3e9b17;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: 1px #3e9b17;
  outline: none;
  display: inline-block;
  text-decoration: none;
}
/*Hovering-Maria*/
.PageSwitcher__Item:hover{
	color: black;
	text-decoration: none;
	
}
.PageSwitcher__Item--Active {
  background-color: #5ED0C0;
  color: white;
}
/*Hovering-Maria*/
.PageSwitcher__Item--Active:hover{
	color: gray;
	text-decoration: none;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  margin-bottom: 100px;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}
/*Hovering-Maria*/
.FormTitle__Link:hover{
	color: #5e5d5b;
	text-decoration: none;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: black;
  border-bottom: 1px solid #199087;
}
/*Hovering-Maria*/
.FormTitle__Link--Active:hover {
  color: gray;
  text-decoration: none;
}


.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: black;
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: black;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616E7F;
}

.FormField__Button {
  background-color: #3e9b17;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px;
}
/*Hovering-Maria*/
.FormField__Link:hover {
	color: white;
	text-decoration: none;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
 

}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
  
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

/*to get rid of side arrows for number input*/
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}