#chefName{
  font-size: xx-large;
}

#chefprofilecard{
  margin: 10px;
  box-shadow:0px !important;
}

#chefprofilecard:hover{
  cursor: default;
  box-shadow:0px !important;
}

#chefprofilepic{
  transform:scale(1);
	transition: transform 0.5s ease;
}

#chefprofilepic:hover{
  transform:scale(1);

}
  .carousel-item {
    width: 100%;
    height: 500px;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .carousel-caption {
    text-align: center;
    position: bottom;
    color: #FFFFFF;
    background-color:rgba(0,0,0,0.4);
    bottom: 0;
  }
  
  .carousel-control-prev {
    height: 40px;
    cursor: pointer;
    background-color:rgba(0,0,0,0.25);
  }
  
  .carousel-control-next {
    height: 40px;
    cursor: pointer;
    background-color:rgba(0,0,0,0.25);
  }