.chefsTab{
    background-color: wheat;
    min-height: 100vh;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    font-size: calc(9px + 2vmin);
    color: #282c34;
}
.chefRow{
    background-color: lavender;
}

.chefRow td{
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.chefRow th{
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
