#requestChefButt2{
	color:#3e9b17;
	
}

#requestChefButt2:hover{
	color:white;
	text-decoration: none;
	
}
.App-logo {
    height: 100vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.h1{
    font-size: 50px;
    padding: 40px;
}

.section-body {
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
}

#ourChefs{
    width:20%;
    text-align: center;
}

#cardbody2{
	padding:1rem 0 !important;
}
