.chefsTab{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    font-size: calc(9px + 2vmin);
    color: white;
}

.chefLink:link{
    color: teal;
}
.chefLink:hover{
    color: white;
}

.chefLink:visited{
    color: wheat;
}
.chefLink:visited:hover{
    color:white
}

.chefRow{
    background-color: black;
    border-radius: 20px;
}

.chefRow td{
    text-align: center;
}
